{{#if (and showTitleError (v-get this 'story.title' 'isInvalid'))}}
  <p data-test-error class="c_form--error">{{v-get this 'story.title' 'message'}}</p>
{{/if}}
<p class="c_form--group">
  <label for="new-story-title" class="c_form--label">Title</label>
  {{input data-test-title id="new-story-title" value=story.title input=(action (mut showTitleError) true) class="c_form--input"}}
</p>
<button data-test-action="create" type="submit" disabled={{or isInvalid saveTask.isRunning}} class="c_form--btn btn">
  Create
</button>
