{{#each errors as |error|}}
  <div data-test-error>{{error}}</div>
{{/each}}

<form {{action (perform create) on="submit"}}>
  <label>Title: {{input data-test-title value=title}}</label>
  <button data-test-action="create" type="submit" disabled={{create.isRunning}}>Create</button>
</form>
