.btn { background-color: #00aef0; border-radius: 8px; color: #fff; font-weight: 600; padding: 4px 16px; text-decoration: none; text-transform: none;
  &:hover { background-color: #0298d1; color: #fff; }
  &--back { float: left; }
}
