.c_form { margin: 80px auto 0; max-width: 480px;
  &--btn { display: block; margin-top: 16px; padding-bottom: 10px; padding-top: 10px; width: 100%; }
  &--error { border: 4px solid #f03232; border-radius: 8px; color: #f03232; margin-bottom: 4px; padding: 4px 16px;
    + .c_form--group, + .c_form--label { margin-top: 16px; }
  }
  &--group { display: flex; margin-bottom: 4px; padding: 12px 24px; position: relative; width: 100%;
    .c_form--input { bottom: 0; left: 0; position: absolute; top: 0; }
  }
  &--input { background-color: transparent; border: 4px solid #fff; border-radius: 8px; padding: 0 16px 0 140px; width: 100%;
    &:focus { background-color: #fff; outline: none; }
  }
  &--label { font-weight: 600; position: relative; z-index: 1; }
  &--note { margin-top: 36px; text-align: center; }
}
