.c_story {
  &--addition { border-bottom: 1px dashed #ccc; margin-top: 44px; padding-bottom: 40px;
    &_content {
      p { margin-bottom: 12px; }
    }
    &_header { background-image: linear-gradient(to bottom, transparent calc(100% - 8px), rgba(#00aef0, .36) calc(100% - 8px), rgba(#00aef0, .12) 100%);  display: inline-block; margin-bottom: 16px;  }
  }
  &--author { color: #00aef0; font-weight: 700; margin-top: 8px; text-align: right; }
  &--form {
    .c_form--input { margin-top: 12px; min-height: 240px; padding: 8px 16px; resize: vertical; }
    .c_form--label { display: block; }
  }
  &--heading { border-bottom: 4px solid #ddd; padding: 0 20px 16px; }
  &--list { margin: 80px auto; max-width: 800px; }
  &--title { background-image: linear-gradient(to bottom, transparent calc(100% - 16px), rgba(#00aef0, .36) calc(100% - 16px), rgba(#00aef0, .12) 100%); display: inline; font-size: 36px; line-height: 40px; }
}
